
{% load static %}
{% load humanize %}
<div class="responsive-card">
    <div class="first-row">
      
        <div class="image-container">
            <a href="{{collection.get_absolute_public_url}}">
                <img src="{{collection.get_image_url_name}}" alt="No image" width="90%">
            </a>
        </div>
      
      <div class="card-text">   
        <a href="{{collection.get_absolute_public_url}}">
            <h4>{{collection.name | truncatechars:30}}</h4>
        </a>
        <p>{{collection.description | truncatechars:100}}</p>
        <button class="card-btn">
          <h3>SEE FULL COLLECTION</h3>
        </button>
      </div>
    </div>
    <div class="card-content">
      <div class="card-features">
        <div class="card-feature">
          <p>{{collection.holders_num}}</p>
          <img src="{% static 'assets/images/User.svg' %}" alt="User" width="14">
        </div>
        <div class="card-feature">
          <p>{{collection.transaction_num}}</p>
          <img src="{% static 'assets/images/Light.svg' %}" alt="Light" width="12">
        </div>
        <div class="card-feature">
          <p>{{collection.orders_num}}</p>
          <img src="{% static 'assets/images/Contract.svg' %}" alt="Contract" width="12">
        </div>
      </div>
    </div>
  </div>