

{% load static %}

<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="{% static 'assets/css/site-css/site-style.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/site-css/site-responsive.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.min.css' %}">
      <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}">
      <title>Create Tiramisu Wallet account</title>
      <meta name="Keywords" content="Tiramisu Wallet, Taproot Assets Protocol, TAP, Bitcoin blockchain, altcoins">
      <meta name="Description" content="Sign up for a Tiramisu web Wallet account.">
      <meta name="theme-color" content="#001c71">
      <meta name="twitter:card" content="summary">
      <meta name="twitter:description" content="Sign up for a Tiramisu web Wallet account.">
      <meta name="twitter:title" content="Create Tiramisu Wallet account">
      <meta name="twitter:image" content="{% static 'assets/images/meta-banner.jpg' %}">
      <meta property="og:locale" content="en_US">
      <meta property="og:type" content="article">
      <meta property="og:title" content="Create Tiramisu Wallet account">
      <meta property="og:description" content="Sign up for a Tiramisu web Wallet account.">
      <meta property="og:url" content="">
      <meta property="og:site_name" content="Create Tiramisu Wallet account">
      <meta property="og:image" content="{% static 'assets/images/meta-banner.jpg' %}">
      <meta property="og:image:secure_url" content="{% static 'assets/images/meta-banner.jpg' %}">
   </head>
   <body class="login-bg">
      <!-- user login area -->
      <section class="user-login-area">
        <div class="user-login-logo text-center">
          <a href="/"><img src="{% static 'assets/images/ogo.png' %}" alt=""></a>
        </div>
        <div class="user-login-box">
          <div class="login-box-table">
            <p class="theme-description text-center">Please create your Tiramisu Wallet account. Select your username and password.</p>
            <div class="login-box-inner">
              <h2 class="login-title">Create your account</h2>
              
              <p>
                No email is required as we aim to make the wallet non-custodial. 
                This also prevents us from sending any kind of marketing.
              </p>
              
              <p>
                Please join our telegram group <a href="https://t.me/tiramisuwallet">tiramisuwallet</a>
                as that is where we will be sharing updates.
              </p>

              {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
              {% endif %}
              <div class="user-login-form">


                <form class="user-login-inner" method="post" autocomplete="off" action="{% url 'user-create' %}">
                  {% csrf_token %}
                    <div class="theme-input-box">
                      <label>{{ form.username.label_tag }}</label>
                      {{ form.username }}
                    </div>

                    <div class="theme-input-box">
                      <label>{{ form.email.label_tag }}</label>
                      {{ form.email }}
                    </div>

                    <div class="theme-input-box">
                      <label>{{ form.password1.label_tag }}</label>
                      {{ form.password1 }}
                    </div>

                    <div class="theme-input-box">
                      <label>{{ form.password2.label_tag }}</label>
                      {{ form.password2 }}
                    </div>

                    <div class="theme-input-box">
                      <label>{{ form.captcha.label_tag }}</label>
                      {{ form.captcha }}
                    </div>

                    <div class="theme-input-box">
                        <input type="submit" value="register" class="theme-btn">
                        <input type="hidden" name="next" value="{{ next }}">
                    </div>

                </form>

              </div>
            </div>
            <p class="login-box-des">Already have an account? <a href="{% url 'login' %}?next={% url 'balances' %}"> Sign in here</a></p>
            <p class="login-box-des">Still need help? <a href="https://t.me/snow88488/"> Contact Support</a></p>
          </div>
        </div>
      </section>
      <!-- user login area -->
      <!-- switch-button -->
      <div class="switch-button"><i class="fas fa-cog fa-spin"></i></div>
      <div class="switched-styles">
         <h4>Color Switcher</h4>
         <ul class="list-unstyled">
             <li class="theme-default" data-color="dark-blue"></li>
             <li class="light-sea-green" data-color="light-sea-green"></li>
             <li class="theme-dark-green" data-color="dark-green"></li>
             <li class="theme-light-blue" data-color="light-blue"></li>
             <li class="theme-dark-orchid" data-color="dark-orchid"></li>
             <li class="theme-yellow" data-color="yellow"></li>
         </ul>
         <div class="switched-mode">
            <h4>Layout Mode</h4>
            <ul class="clearfix">
               <li><a class="active" id="light_mode" href="javascript:void(0);">Light</a></li>
               <li><a id="dark_mode" href="javascript:void(0);">Dark</a></li>
            </ul>
         </div>
         <div class="hide-button">×</div>
      </div>
     <!-- switch-button -->
     <!-- Preloader area -->
      <div id="loader-wrapper">
         <div id="loader"></div>
         <div class="loader-images"><img src="{% static 'assets/images/loader.gif' %}" alt="Loader"></div>
      </div>
      <!-- Preloader area -->
     <!-- script area -->
      <script src="{% static 'assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'assets/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/jquery.cookie.min.js' %}"></script>
      <script src="{% static 'assets/js/site-custom.js' %}"></script>
      <!-- script area -->
   </body>
</html>